@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
  <div class="row">
    <div class="col-sm">
        <div style="text-align: center;">
            <img src="ndl_insurance_01.png" height="200" />

            <h3>Verifiable Credential Insurance which requires driving license proof</h3>
        
            <button type="button" id="idVerify" class="btn btn-primary">Do new verification</button>
            <script>
                var idVerify = document.getElementById('idVerify');

                idVerify.addEventListener('click', () => {
                    window.location = "verifier";
                })
            </script>
        </div>
    </div>
  </div>
</div>