@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var nonce = this.HttpContext.GetNonce();
}

<div class="container">
  <div class="row">
    <div class="col-sm">
        <div style="text-align: center;">
            <img src="ndl_insurance_01.png" height="200" />

            <h3>Verifiable Credential Insurance which requires driving license proof</h3>
        
            <button type="button" id="idVerify" class="btn btn-primary">Do new verification</button>

            <script src="index.js" nonce="@nonce"></script>

        </div>
    </div>
  </div>
</div>
