@page
@model VerifierInsuranceCompany.Pages.VerifierModel
@{
    var nonce = this.HttpContext.GetNonce();
    ViewData["Title"] = "Verifier";
}

<div style="text-align: center;">
    <h1>Driving Licence VC presentation</h1>
        
    <button type="button" id="sign-in" class="btn btn-primary">VERIFY CREDENTIAL</button>

    <div id="message-wrapper" class="margin-bottom-75 margin-top-75" style="display: none">
        <i class="fas fa-user-check green icon-text-large margin-bottom-25"></i>
        <div id="message"></div>
        <br />
        <div id="subject"></div>
        <br />
        <div id="payload"></div>
    </div>

    <div id="qrText"></div>

    <a id="deeplink" style="display: none;margin-top: 10px;">Tap to open Authenticator on mobile</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <div id="qrcode" style="text-align: center"></div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

<div id="pinCodeText" style="display: none"></div>

<script src="qrcode.min.js" nonce="@nonce"></script>
<script src="verifier.js" nonce="@nonce"></script>
